@charset "UTF-8";
/*----------------------------------
共通部分
------------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: "游ゴシック", serif;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}
/*----------------------------------
HEADER
------------------------------------*/
#header {
    height: 100px;
    padding: 40px 0 0 50px;
}

.site-title {
    width: 100px;
    line-height: 1px;
}

.site-title a {
    display: block;
}

/* --クリック時に表示するメニュー-- */
#navi {
    width: 100%;
    height: 100vh;
    background-color: #ff2a2a;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 1;
    text-align: center;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: visible;
}

#navi.active {
    opacity: 0;
    visibility: hidden;
}

#navi .logo {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.menu {
    margin: 80px 0 40px 0;
}

.menu li {
    margin-bottom: 20px;
}

.menu a {
    color: #fff;
    font-weight: bold;
}

#navi .btn {
    width: 250px;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 15px 0;
    margin: 0 auto;
    position: relative;
    transition: 0.3s ease-in-out;
}

#navi .btn::after {
    content: " ";
    width: 250px;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 15px 0;
    position: absolute;
    right: -6px;
    bottom: -6px;
}

#navi .btn:hover {
    background-color: #fff;
    color: #ff2a2a;
}

/* --メニューボタン-- */
.menuBtn {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #ff2a2a;
    cursor: pointer;
    z-index: 100;
}

.menuBtn i {
    display: block;
    width: 50px;
    height: 2px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}

.menuBtn i:first-child {
    top: 36px;
}

.menuBtn i:nth-child(2) {
    top: 50%;
}

.menuBtn i:last-child {
    top: 64px;
}

/* --クリック-- */
.menuBtn.open i:first-child {
    top: 50%;
    transform: translate(-50%,-50%)rotate(-45deg);
}

.menuBtn.open i:nth-child(2) {
    transform: translate(-50%,-50%)rotate(45deg);
    opacity: 0;
}

.menuBtn.open i:last-child {
    top: 50%;
    transform: translate(-50%,-50%)rotate(45deg);
}
/*----------------------------------
MAINVISUAL
------------------------------------*/
#mainvisual {
    height: 720px;
    position: relative;
    margin-bottom: 120px;
}

/* --テキスト-- */
.text {
    position: absolute;
    top: 280px;
    left: 10%;
    z-index: 10;
}
.title {
    font-size: 46px;
    font-weight: bold;
    text-shadow: 0 4px 6px#fff;
    margin-bottom: 30px;
}

/* --ボタン-- */
.text .btn {
    display: block;
    background-color: #ff2a2a;
    border-radius: 10px;
    border-bottom: 6px solid #8d0c0c;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    padding: 15px 35px;
    position: relative;
    transition: .3s;
}

.text .btn:hover {
    opacity: .8;
    transform: scale(1.05);
}

/* --ボタンの中の矢印-- */
.text .btn::after {
    content: "";
    width: 16px;
    height: 16px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    top: 27px;
    right: 30px;
    transform: rotate(-45deg);
}

/* --フェード画像-- */
.fade li{
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    opacity: 0;
    animation: fade 15s infinite;
}

/*-- 1枚目の画像アニメーション-- */
.fade li:first-child {
    animation-delay: 0s;
}

/*-- 2枚目の画像アニメーション-- */
.fade li:nth-child(2) {
    animation-delay: 5s;
}

/*-- 3枚目の画像アニメーション-- */
.fade li:last-child {
    animation-delay: 10s;
}

.fade img {
    width: 100%;
    height: 720px;
    object-fit: cover;
}

.fade li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 20px 20px #fff;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
















/*-------------------------------------------------------
レスポンシブ
---------------------------------------------------------*/
@media (max-width: 600px) {

/*----------------------------------
HEADER
------------------------------------*/
    #header {
        padding: 25px 0 0 25px;
    }
/* --メニューボタン-- */
    .menuBtn {
        width: 75px;
        height: 75px;
    }

    .menuBtn i {
        width: 35px;
        height: 1.5px;
    }
/* --クリック時に表示するメニュー-- */
    #navi .logo {
        top: 25px;
        left: 25px;
    }

    .menu {
        margin-top: 110px;
    }

    #navi .btn::after {
        padding: 28px 0;
    }

/*----------------------------------
MAINVISUAL
------------------------------------*/
/* --テキスト-- */


}